data_pipeline/terraform/credentials.json
data_pipeline/terraform/terraform.tfvars
data_pipeline/terraform/terraform.tfstate
data_pipeline/terraform/.terraform.lock.hcl
data_pipeline/terraform/.terraform
data_pipeline/transaction_cleaning_function_source/*
data_pipeline/autoship_clean_function_source/*
data_pipeline/frontend/*
data_pipeline/inventory_control_cleaning_function_source/*
